<hr/>
   <footer>
        <p>This is a community app developed by participants of the following conferences:<br/> 
        <a href="http://ale2012.alenetwork.eu">ALE2012</a> (Barcelona, Spain)<br/>
        <a href="http://www.xpdays.de">XPdays 2012</a> (Hamburg, Germany)</p>        
        <p>Hosting is sponsord by <a href="http://blog.codecentric.de/en">codecentric</a></p>
   </footer>
 
    <script type="text/JavaScript">
		<!--
		function timedRefresh(timeoutPeriod) {
			setTimeout("location.reload(true);",timeoutPeriod);
		}
		//   -->
		</script>
    
    <script src="<%= request.getContextPath() %>/assets/js/jquery.js"></script>  
    <script src="<%= request.getContextPath() %>/assets/js/bootstrap.js"></script>
    <script src="<%= request.getContextPath() %>/assets/js/thot.js"></script>
</body>
</html>