body {
    padding-top: 30px;
}

.sidebar-nav {
    padding: 9px 0;
}

tr.sessions {
    cursor: pointer;
}

.jumbotron-special {
    width:100%;
    background-color:#1aa3b1;
    padding:30px;
    margin:0px;
    opacity: 0.7;
    text-align: center;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}